#about {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Do Hyeon";
  color: white;
}
* {
  margin: 0;
  padding: 0;
}
body {
  width: calc(100vw (100vw - 100%));
}
.bodycontainer {
  width: calc(100vw (100vw - 100%));
  min-height: 1080px;
  display: flex;
  flex-direction: column;
}
.logo {
  font-size: 35px;
  font-weight: lighter;
  display: block;
  position: fixed;
  top: 50px;
  left: 50px;
}
.bg1 {
  width: calc(100vw (100vw - 100%));
  height: 100vh;
  background-image: url("./img/about-bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.bg1 .bg1txt {
  margin: 0 50px;
  font-size: 70px;
}
.bg1map {
  width: 300px;
  height: 300px;
  margin: 0 0 0 20%;
  background-color: teal;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.bg2 {
  width: calc(100vw (100vw - 100%));
  height: 100vh;
  background-image: url("./img/about-bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.bg2 .bg2txt {
  margin: 0 50px;
  font-size: 60px;
}
.bg3 {
  width: calc(100vw (100vw - 100%));
  height: 100vh;
  background-image: url("./img/about-bg3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.bg3 .bg3txt {
  margin: 0 50px;
  font-size: 60px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.prof {
  width: 200px;
  height: 200px;
  border-radius: 40px;
  background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
