.outline {
  margin: 0;
  padding: 2rem;
}

.container {
  //   background-color: crimson;
  width: 1040px;
  height: 630px;
  margin: auto;
  border-radius: 30px;
  border: 8px solid black;
}

h1 {
  text-align: center;
}
