.outline {
  margin: 0;
  padding: 2rem;
}

.container {
  //   background-color: crimson;
  width: 1040px;
  height: 630px;
  margin: auto;
  border-radius: 30px;
  border: 8px solid black;
}

.nav {
  margin: 1rem;
  background-color: gray;
  height: 30px;
  text-align: right;
}

h1 {
  text-align: center;
}
.img {
  background-size: cover;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position-x: -70px;
  display: flex;
  justify-content: center;
}
.leftimg {
  background-image: url("./img/about-bg1.jpg");
  border-radius: 20px 0 0 20px;
}
.rightimg {
  background-image: url("./img/about-bg2.jpg");
  border-radius: 0px 20px 20px 0px;
}
.darken-overlay1 {
  width: 100%;
  height: 100%;
  border-radius: 20px 0 0 20px;
}
.darken-overlay2 {
  width: 100%;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
}
.darken-overlay1:hover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px 0 0 20px;
}
.darken-overlay2:hover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0px 20px 20px 0px;
}
.option {
  font-family: "Do Hyeon";
  position: absolute;
  font-size: 5rem;
  place-self: center;
  color: rgb(236, 240, 229);
}
