.randomMenu {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    flex-direction: column;
}
.randomMenu button {
    margin-top: 80px;
    border: solid 1px #0052cc;
    border-radius: 20px;
    height: 40px;
    width: 200px;
    font-size: 18px;
    background-color: #ffffff;
    color: #0052cc;
}